body {
    font-family: 'Roboto', sans-serif;
}

.background {
    min-height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(112deg, #FFBEF9 0%, #FCE183 47.87%, #00B2FF 100%);
    
}

.products-container {
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(112deg, #FFBEF9 0%, #FCE183 47.87%, #00B2FF 100%);/* Un fond clair pour contraster avec le contenu */
}

.products-list {
    max-width: 50rem; /* Largeur maximale pour la liste des produits */
    margin: auto;
    padding: 2rem;
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #eeeeee;
}

.product-name {
    flex: 1;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333333;
}

.product-price {
    font-size: 1rem;
    color: #666666;
}

.add-to-cart-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #00B2FF; /* Couleur de fond du bouton */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #0094D6; /* Couleur au survol du bouton */
}

.cart-button {
    position: fixed; /* Fixe le bouton par rapport à la fenêtre */
    top: 10px; /* Distance du haut */
    right: 10px; /* Distance de la droite */
    background: transparent;
    border: none;
    cursor: pointer;
}

.cart-button img {
    width: 30px; /* ou la taille que tu souhaites */
    height: auto;
}